NODE_ENV=development
PORT=5000
LOG_LEVEL=info
LOCAL_OBJECT_STORAGE_DIR=.local/object-storage
PUBLIC_OBJECT_SEARCH_PATHS=
PRIVATE_OBJECT_DIR=
GMAIL_APP_PASSWORD=
MAILERLITE_API_KEY=
MAILERLITE_GROUP_ID=
META_CAPI_ACCESS_TOKEN=
META_CAPI_TEST_CODE=
